[Unit]

Description= INDI driver for VATT hexapod
After = network.target


[Service]
Type=simple
ExecStart=/usr/bin/indiserver -vv -l /home/scott/.indilogs/ /usr/local/bin/VATTHEX-INDI
User=root

[Install]
WantedBy=default.target
