[Unit]

Description= INDI driver for VATT hexapod
After=network.target
Before=webclient-indi.service
Requires=webclient-indi.service


[Service]
Type=simple
ExecStart=/usr/local/bin/startindi
User=root

[Install]
WantedBy=default.target
